#wrapper {
    margin-left: auto;
    margin-right: auto;
    
}

#logo {
    display: block;
    margin: 0 auto;
    margin-top: 156px;
}
.parent{
    display: flex;
    width: 480px;
    height: 44px;
    border-radius: 50px;
    border: 1px solid #DCDCDC;
    align-items: center;
    margin: auto;
    margin-top: 27px;
    justify-content: center;
    
}
.parent:hover{
    box-shadow: 0 0 5px #C0C0C0;
}
.child2 {
    width: 410px;
}
input{
    outline: none;
    border: none;
    width: 100%;
    text-indent: 10px;
}
.btn {
    display: flex;
    justify-content: center;
    padding: 25px;
}
.btn button {
    margin: 5px;
    padding: 9px 18px 9px 18px;
    border-radius: 5px;
    border: 0 solid #DCDCDC;
    color: gray;
    font-family: sans-serif;
    font-size: 14px;
}
.btn button#search:hover, .btn button#search:focus {
    box-shadow: 0 0 2px black;
    color: black; 
    border: none;
    outline: none;
}
.btn button#lucky:hover, .btn button#lucky:focus {
    box-shadow: 0 0 2px black;
    color: black; 
    border: none;
    outline: none;
}